
libraries/PCM/PCM.c
.vscode/tasks.json
AngryOxide/
build/.cmake/api/v1/query/client-vscode/query.json
build/CMakeCache.txt
build/CMakeFiles/cmake.check_cache
ESP32_RF_Receiver_Rx_example/ESP32_RF_Receiver_Rx_example.ino
ESP32_RF_Transmitter_Tx_example/ESP32_RF_Transmitter_Tx_example.ino
i2C_Helpers/I2C_bus_counter/I2C_bus_counter.ino
i2C_Helpers/I2C_Scanner/I2C_Scanner.ino
i2C_Helpers/MultiSpeedI2CScanner/MultiSpeedI2CScanner.ino
libraries/Adafruit_BusIO/Adafruit_SPIDevice.h
libraries/Adafruit_BusIO/library.properties
libraries/Adafruit_DMA_neopixel_library/library.properties
libraries/Adafruit_DMA_neopixel_library/pins.h
libraries/Adafruit_NeoPixel/Adafruit_NeoPixel.cpp
libraries/Adafruit_NeoPixel/examples/strandtest_nodelay/strandtest_nodelay.ino
libraries/Adafruit_NeoPixel/library.properties
libraries/Adafruit_SSD1306/Adafruit_SSD1306.cpp
libraries/Adafruit_SSD1306/Adafruit_SSD1306.h
libraries/Adafruit_SSD1306/CMakeLists.txt
libraries/Adafruit_SSD1306/component.mk
libraries/Adafruit_SSD1306/examples/OLED_featherwing/OLED_featherwing.ino
libraries/Adafruit_SSD1306/examples/ssd1306_128x32_i2c/ssd1306_128x32_i2c.ino
libraries/Adafruit_SSD1306/examples/ssd1306_128x32_spi/ssd1306_128x32_spi.ino
libraries/Adafruit_SSD1306/examples/ssd1306_128x64_i2c/ssd1306_128x64_i2c.ino
libraries/Adafruit_SSD1306/examples/ssd1306_128x64_spi/ssd1306_128x64_spi.ino
libraries/Adafruit_SSD1306/library.properties
libraries/Adafruit_SSD1306/license.txt
libraries/Adafruit_SSD1306/README.md
libraries/Adafruit_SSD1306/scripts/make_splash.py
libraries/Adafruit_SSD1306/scripts/Makefile
libraries/Adafruit_SSD1306/scripts/splash1.png
libraries/Adafruit_SSD1306/scripts/splash2.png
libraries/Adafruit_SSD1306/splash.h
libraries/ArduinoJson/extras/tests/JsonDocument/clear.cpp
libraries/ArduinoJson/library.properties
libraries/DacESP32/doc/CW_generator_frequ_table_highAcc_Fstep128.txt
libraries/DacESP32/doc/CW_generator_frequ_table_highAcc_Fstep256.txt
libraries/DacESP32/doc/CW_generator_frequ_table_highAcc_Fstep512.txt
libraries/DacESP32/doc/CW_generator_frequ_table_lowAcc_Fstep128.txt
libraries/DacESP32/doc/CW_generator_frequ_table_lowAcc_Fstep256.txt
libraries/DacESP32/doc/outputAnalogDigitalMixed.jpg
libraries/DacESP32/doc/outputCW_changingAmplitude.jpg
libraries/DacESP32/doc/outputCW_fStepSetTo4096.jpg
libraries/DacESP32/doc/outputCW_offsetNegativeOnChannel2.jpg
libraries/DacESP32/doc/outputCW_offsetPositiveWithClippingOnChannel2.jpg
libraries/DacESP32/doc/outputCW_phase0deg.jpg
libraries/DacESP32/doc/outputCW_phase180deg.jpg
libraries/DacESP32/doc/outputCWandVoltage.jpg
libraries/DacESP32/doc/outputCWtwoChannels.jpg
libraries/DacESP32/doc/outputVoltage.jpg
libraries/DacESP32/doc/outputVoltage2.jpg
libraries/DacESP32/doc/platformio.ini
libraries/DacESP32/examples/outputAnalogDigitalMixed/outputAnalogDigitalMixed.ino
libraries/DacESP32/examples/outputCW/outputCW.ino
libraries/DacESP32/examples/outputCWandVoltage/outputCWandVoltage.ino
libraries/DacESP32/examples/outputCWwithOffset/outputCWwithOffset.ino
libraries/DacESP32/examples/outputCWwithPhaseShift/outputCWwithPhaseShift.ino
libraries/DacESP32/examples/outputVoltage/outputVoltage.ino
libraries/DacESP32/examples/outputVoltage2/outputVoltage2.ino
libraries/DacESP32/keywords.txt
libraries/DacESP32/library.json
libraries/DacESP32/library.properties
libraries/DacESP32/LICENSE
libraries/DacESP32/README.md
libraries/DacESP32/src/DacESP32.cpp
libraries/DacESP32/src/DacESP32.h
libraries/FastLED/CMakeLists.txt
libraries/FastLEDHub/library.json
libraries/FastLEDHub/library.properties
libraries/FastLEDHub/README.md
libraries/FastLEDHub/src/Config.cpp
libraries/FastLEDHub/src/FastLEDHub.cpp
libraries/FastLEDHub/src/WebSocket.cpp
libraries/FastLEDHub/src/WebSocket.h
libraries/PCM/examples/playback/playback.pde
libraries/PCM/library.properties
libraries/PCM/PCM.h
PlaySound/PlaySound.ino
tools/EspExceptionDecoder-2.0.3/esp32-exception.png
tools/EspExceptionDecoder-2.0.3/EspExceptionDecoder.png
tools/EspExceptionDecoder-2.0.3/LICENSE
tools/EspExceptionDecoder-2.0.3/make.sh
tools/EspExceptionDecoder-2.0.3/README.md
tools/EspExceptionDecoder-2.0.3/src/EspExceptionDecoder.java
tools/EspExceptionDecoder/esp32-exception.png
tools/EspExceptionDecoder/EspExceptionDecoder.png
tools/EspExceptionDecoder/LICENSE
tools/EspExceptionDecoder/make.sh
tools/EspExceptionDecoder/README.md
tools/EspExceptionDecoder/src/EspExceptionDecoder.java
Using_the_ESP32_DAC/Using_the_ESP32_DAC.ino
.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/settings.json
libraries/Adafruit_BusIO/Adafruit_SPIDevice.h
libraries/Adafruit_BusIO/library.properties
libraries/Adafruit_DMA_neopixel_library/library.properties
libraries/Adafruit_DMA_neopixel_library/pins.h
libraries/Adafruit_NeoPixel/Adafruit_NeoPixel.cpp
libraries/Adafruit_NeoPixel/examples/strandtest_nodelay/strandtest_nodelay.ino
libraries/Adafruit_NeoPixel/library.properties
libraries/ArduinoJson/library.properties
libraries/FastLED/CMakeLists.txt
libraries/FastLEDHub/library.json
libraries/FastLEDHub/library.properties
libraries/FastLEDHub/README.md
libraries/FastLEDHub/src/Config.cpp
libraries/FastLEDHub/src/FastLEDHub.cpp
libraries/FastLEDHub/src/WebSocket.cpp
libraries/FastLEDHub/src/WebSocket.h
.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/settings.json
libraries/Adafruit_BusIO/Adafruit_SPIDevice.h
libraries/Adafruit_BusIO/library.properties
libraries/Adafruit_DMA_neopixel_library/library.properties
libraries/Adafruit_DMA_neopixel_library/pins.h
libraries/Adafruit_NeoPixel/Adafruit_NeoPixel.cpp
libraries/Adafruit_NeoPixel/examples/strandtest_nodelay/strandtest_nodelay.ino
libraries/Adafruit_NeoPixel/library.properties
libraries/ArduinoJson/library.properties
libraries/FastLED/CMakeLists.txt
libraries/FastLEDHub/library.json
libraries/FastLEDHub/library.properties
libraries/FastLEDHub/README.md
libraries/FastLEDHub/src/Config.cpp
libraries/FastLEDHub/src/FastLEDHub.cpp
libraries/FastLEDHub/src/WebSocket.cpp
libraries/FastLEDHub/src/WebSocket.h
.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/settings.json
libraries/Adafruit_BusIO/Adafruit_SPIDevice.h
libraries/Adafruit_BusIO/library.properties
libraries/Adafruit_DMA_neopixel_library/library.properties
libraries/Adafruit_DMA_neopixel_library/pins.h
libraries/Adafruit_NeoPixel/Adafruit_NeoPixel.cpp
libraries/Adafruit_NeoPixel/examples/strandtest_nodelay/strandtest_nodelay.ino
libraries/Adafruit_NeoPixel/library.properties
libraries/ArduinoJson/library.properties
libraries/FastLED/CMakeLists.txt
libraries/FastLEDHub/library.json
libraries/FastLEDHub/library.properties
libraries/FastLEDHub/README.md
libraries/FastLEDHub/src/Config.cpp
libraries/FastLEDHub/src/FastLEDHub.cpp
libraries/FastLEDHub/src/WebSocket.cpp
libraries/FastLEDHub/src/WebSocket.h
.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/settings.json
libraries/Adafruit_BusIO/Adafruit_SPIDevice.h
libraries/Adafruit_BusIO/library.properties
libraries/Adafruit_DMA_neopixel_library/library.properties
libraries/Adafruit_DMA_neopixel_library/pins.h
libraries/Adafruit_NeoPixel/Adafruit_NeoPixel.cpp
libraries/Adafruit_NeoPixel/examples/strandtest_nodelay/strandtest_nodelay.ino
libraries/Adafruit_NeoPixel/library.properties
libraries/ArduinoJson/library.properties
libraries/FastLED/CMakeLists.txt
libraries/FastLEDHub/library.json
libraries/FastLEDHub/library.properties
libraries/FastLEDHub/README.md
libraries/FastLEDHub/src/Config.cpp
libraries/FastLEDHub/src/FastLEDHub.cpp
libraries/FastLEDHub/src/WebSocket.cpp
libraries/FastLEDHub/src/WebSocket.h
.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/settings.json
libraries/Adafruit_BusIO/Adafruit_SPIDevice.h
libraries/Adafruit_BusIO/library.properties
libraries/Adafruit_DMA_neopixel_library/library.properties
libraries/Adafruit_DMA_neopixel_library/pins.h
libraries/Adafruit_NeoPixel/Adafruit_NeoPixel.cpp
libraries/Adafruit_NeoPixel/examples/strandtest_nodelay/strandtest_nodelay.ino
libraries/Adafruit_NeoPixel/library.properties
libraries/ArduinoJson/library.properties
libraries/FastLED/CMakeLists.txt
libraries/FastLEDHub/library.json
libraries/FastLEDHub/library.properties
libraries/FastLEDHub/README.md
libraries/FastLEDHub/src/Config.cpp
libraries/FastLEDHub/src/FastLEDHub.cpp
libraries/FastLEDHub/src/WebSocket.cpp
libraries/FastLEDHub/src/WebSocket.h
.vscode/arduino.json
.vscode/arduino.json
.vscode/c_cpp_properties.json
libraries/FastLEDHub/src/WebSocket.h
libraries/FastLEDHub/src/WebSocket.cpp
libraries/FastLEDHub/src/FastLEDHub.cpp
libraries/FastLEDHub/src/Config.cpp
libraries/FastLEDHub/README.md
libraries/FastLEDHub/library.properties
libraries/FastLEDHub/library.json
libraries/FastLED/CMakeLists.txt
libraries/ArduinoJson/library.properties
libraries/Adafruit_NeoPixel/library.properties
libraries/Adafruit_NeoPixel/examples/strandtest_nodelay/strandtest_nodelay.ino
libraries/Adafruit_NeoPixel/Adafruit_NeoPixel.cpp
libraries/Adafruit_DMA_neopixel_library/pins.h
libraries/Adafruit_DMA_neopixel_library/library.properties
libraries/Adafruit_BusIO/library.properties
libraries/Adafruit_BusIO/Adafruit_SPIDevice.h
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/arduino.json
libraries/FastLEDHub/src/WebSocket.h
libraries/FastLEDHub/src/WebSocket.cpp
libraries/FastLEDHub/src/FastLEDHub.cpp
libraries/FastLEDHub/src/Config.cpp
libraries/FastLEDHub/README.md
libraries/FastLEDHub/library.properties
libraries/FastLEDHub/library.json
libraries/FastLED/CMakeLists.txt
libraries/ArduinoJson/library.properties
libraries/Adafruit_NeoPixel/library.properties
libraries/Adafruit_NeoPixel/examples/strandtest_nodelay/strandtest_nodelay.ino
libraries/Adafruit_NeoPixel/Adafruit_NeoPixel.cpp
libraries/Adafruit_DMA_neopixel_library/pins.h
libraries/Adafruit_DMA_neopixel_library/library.properties
libraries/Adafruit_BusIO/library.properties
libraries/Adafruit_BusIO/Adafruit_SPIDevice.h
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/arduino.json
