# macOS files
.DS_Store

# VSCode
.vscode/

# Build directories
build/

# Third-party directories
AngryOxide/

# Specific library file
libraries/PCM/PCM.c
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/arduino.json
libraries/FastLEDHub/src/WebSocket.h
libraries/FastLEDHub/src/WebSocket.cpp
libraries/FastLEDHub/src/FastLEDHub.cpp
libraries/FastLEDHub/src/Config.cpp
libraries/FastLEDHub/README.md
libraries/FastLEDHub/library.properties
libraries/FastLEDHub/library.json
libraries/FastLED/CMakeLists.txt
libraries/ArduinoJson/library.properties
libraries/Adafruit_NeoPixel/library.properties
libraries/Adafruit_NeoPixel/examples/strandtest_nodelay/strandtest_nodelay.ino
libraries/Adafruit_NeoPixel/Adafruit_NeoPixel.cpp
libraries/Adafruit_DMA_neopixel_library/pins.h
libraries/Adafruit_DMA_neopixel_library/library.properties
libraries/Adafruit_BusIO/library.properties
libraries/Adafruit_BusIO/Adafruit_SPIDevice.h

